body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1c1c1c;
    margin: 0;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.btn {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 3px;
    border-radius: 12px;
    background: #120909;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: conic-gradient(from var(--angle),#4facfe,#00f2fe,#6a11cb,#2575fc,#4facfe);
    opacity: 0;
    animation: rotate 2s linear infinite;
}

.btn:hover::before {
    opacity: 1;
}

.text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #120909;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}