@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.btn {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 3px;
    border-radius: 12px;
    background: #120909;
    overflow: hidden;
}

.btn::before{
    content:'';
    position: absolute;
    background: conic-gradient(from var(--angle,));
    opacity: 0;
    animation: rotate 4s linear infinite;
}

.text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #120909;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}